
<!--<div ng-controller="WebsiteListController">-->
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-footer">
                    <a style="color: white" class="navbar-brand pull-left" href="Website-list.view.client.html">
                        <span style="color: white" class="glyphicon glyphicon-chevron-left"></span> New Website
                    </a>
                    <p class="navbar-text pull-right">
                        <a href="Website-list.view.client.html" class="navbar-link">
                            <span style="color: white" class="glyphicon glyphicon-check"></span>
                        </a>
                    </p>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 visible-lg">
                <div ng-include="'views/website/templates/website-list.component.client.html'"></div>
            </div>
            <div class="col-xs-12 col-lg-9">
                <form>
                    <a href="../../page/templates/Page-list.view.client.html">
                        <label>Name</label>
                        <input id="Name" type="text" class="form-control" placeholder="Name">
                    </a>
                    <label for="Description">Description</label>
                    <textarea class="form-control" rows="5" id="Description" placeholder="Description"></textarea>
                    <a class="btn btn-primary btn-block" role="button">Create</a>
                    <a class="btn btn-danger  btn-block" href="#/user/{{model.uid}}/website" role="button">Cancel</a>
                </form>
            </div>
        </div>
    </div>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-footer">
                    <a class="navbar-brand" href="../../user/templates/Profile.view.client.html">
                    </a>
                    <p class="navbar-text pull-right">
                        <a href="../../user/templates/Profile.view.client.html" class="navbar-link">
                            <span style="color: white" class="glyphicon glyphicon-user">
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </nav>

<!--</div>-->
